div.tocnavipages_nav {
    clear: both;
    border: 1px solid __border__;
    background-color: __background_alt__;
    vertical-align: middle;
}

#dokuwiki__content div.tocnavipages_nav_head {
    /*fix toc under navbar in defalut template*/
    margin-bottom: 2em;
}

div.tocnavipages_nav div{
    display: inline-block;
    width: 32%;
}

div.tocnavipages div.prev {
    text-align: left;
}

div.tocnavipages_nav div.cur {
    text-align: center;
}

div.tocnavipages_nav div.next {
    text-align: right;
}

div.tocnavipages_nav div a,
div.tocnavipages_nav div span {
    display: inline-block;
    padding: .2em
}

a[href^='#'] {
    font-weight: bold;
}

div.editbutton_tocnavipages {
    position: relative;
}

div.editbutton_tocnavipages div.no {
    position: absolute;
    top : 1.2em;
    right: .5em;
}

div.tocnavipages_notfirst {
    margin-top: 1em;
}
